# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# OS / editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# GitHub / local env
.env

# Local outputs and temporary files
*.log
*.tmp
*.temp

# Evaluation outputs
*_result*.json
*.out.json

# Exclude Datasets, Results, Checkpoints, and Large PDFs
data/
results/
*.pdf
checkpoint/
*.ckpt
*.pth
*.zip
*.tar.gz
*.tar
